$font-color: #3d3d3d;
$font-color-light: #ffffff;
$body-bg-color: #d3d3d3;
$footer-font-color: #666666;
$footer-bg-color: #bdbdbd;
$nav-bg-color-dark: #114e0e;
$btn-color-success: #1A7916;
$btn-color-danger: #dd1313;
$text-color-danger: #dd1313;