.title{
  font-weight: 600;
  font-size: 2em;
  margin: 0.5em 0;
}
.subtitle{
  font-size: 1.2em;
  margin: 0.2em;
}
.text--bold{
  font-weight: 600;
}
.text--thin{
  font-weight: 200;
}
.text--italic {
  font-style: italic;
}
.text--center{
  text-align: center;
}